<h1>Vendor Order Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another item</a>
<a href='/vendors'>View all Vendors</a>